
    <div>
  <h2 class="title">Seu filho estuda na rede de ensino:</h2>
    </div>
  
    
    <div class="row">
        <a class="col-md-4" href="../pet.hbs">
            <article class="menu-item">
                <div class="menu-text">
                    <h3 class="ensino">Ensino infantil                    
                    </h3>
                </div>
                 <img src="bb.png" alt="">
            </article>
        </a>
        <a class="col-md-4" href="../pet.hbs"> 
            <article >        
                    <h3 class="ensino">Ensino fundamental                   
                    </h3>
                <img src="kids.png" alt="">
            </article>
        </a>
        <a class="col-md-4" href="../pet.hbs">
            <article class="menu-item">
                <div class="menu-text">
                    <h3 class="ensino">Ensino médio                    
                    </h3>
                </div>
                <img src="jovem.png" alt="pet.hbs">
            </article>
        </a>
    </div>


