<div class="container pets">
    <h1>Erro 404! Page not foud</h1>
    <h3>Ninguem mandou ter filho, deveria ter adotado um pet...</h3>
    <img src="pet.png" alt="">
    <h2 class="pets">Mas ainda dรก tempo <a href="https://uvz.ouropreto.mg.gov.br/">adote</a>!</h2>
</div>
