h1{   
    font-weight: bolder;
}

h2{
    color: black;
    font-weight: bolder;
    text-align: left;
}
h3{
    color: #f24900;
    font-size: 1.3em;
    text-align: center;
}

#erro{
    text-align: center;
    color: #bb0b00;
}
body{
    background-color: #ffff!important;
}
.footer{
    margin-top: 20px;
    background-color:  #ff5e55!important;   
}
a{
    color: #ff5e55!important;
    text-decoration: none!important;
}
.container{
    background-color: #ffff!important;
}

.row{
    background-color: #ffff!important;
}

.col-md-4{
    text-align: center!important;
}

.ensino{
    color: #ff5e55 !important;
}

.title{
    color: #bb0b00!important;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: bolder;
}

.pets{
    text-align: center;
    color: #bb0b00;
}

#logo{
    color: black!important;
    background-color: #ff5e55!important;
}

